.calculator {
  border-radius: 4px;
  border: 2px solid #30302f;
  display: grid;
  grid-template-rows: 1fr 5fr;
  min-width: 240px;
  min-height: 320px;
  box-shadow: 0 0 1em gold;
}

.calculator button {
  color: #f8f8ff;
  font-size: 18px;
  font-weight: bold;
  font-family: monospace;
}

.display {
  background: linear-gradient(15deg, #30302f 30%, #6f6f7b 100%);
  font-size: 32px;
  color: #f8f8ff;
  font-weight: bold;
  font-family: monospace;
  display: flex;
  align-items: end;
  justify-content: flex-end;
}

.digits {
  display: grid;
}
.digits__row__one,
.digits__row__two,
.digits__row__three,
.digits__row__four {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.digits__row__five {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

.digit__operator__common {
  background-color: #fd9d2a;
}

.digit__operator__special {
  background-color: #6f6f7b;
}

.digit__number {
  background-color: #6f7476;
}
